* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 20px;
    background-color: aliceblue;
}

.book-card {
    height: 250px;
    background-color: lightblue;
    text-align: center;
}

#input-card {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#background-blur {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(5px);
}